<link rel="stylesheet" href="/css/styles.css">

<!--Error page in case of any failures with webpage-->
<div class="text-center py-5">
  <h1>404</h1>
  <p>Page not found. <a href="/">Return home</a></p>
</div>
