<!--Links style sheet to the html -->
<link rel="stylesheet" href="styles.css">
<!DOCTYPE html>
<html>
<head>
  <title>Cocktail Finder</title>
</head>
<!--different options for pages-->
<body>
  <div class="header">
    <h1>Cocktail Finder</h1>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/random">Random</a>
    </div>
  </div>
<!-- header for searching for Cocktail-->
  <div class="container">
    <div class="new-post-header">
      <h1>Search for a Cocktail</h1>
    </div>

<!--error handeling -->
    <% if (error) { %>
      <p style="color:red;"><%= error %></p>
    <% } %>

<!--Takes the input of cocktail search bar and searches for value-->
    <form method="POST" action="/search" class="new-post-content">
      <label>
        <input type="radio" name="queryType" value="name" checked> Search by Name
      </label>
      <label>
        <input type="radio" name="queryType" value="ingredient"> Search by Ingredient
      </label>
      <br><br>
      <input type="text" name="term" placeholder="Enter cocktail or ingredient">
      <button type="submit">Search</button>
    </form>
  </div>

  <!-- Footer of the html-->
  <div class="footer">
    <h3>Supported by TheCocktailDB API</h3>
  </div>
</body>
</html>